*{
  border-style: none;
  padding: 0px;
  margin: 0px;
}


#home{

  max-height: 100%;
  font-size: 48px;
  font-family: Tahoma, Geneva, sans-serif;
  font: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #014CFD;
}

#container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px 25px;
  border-color: green;
}

ul {
  padding-top: 50px;
  padding: 60px;
  width: 280px;
}
.comingsoon{
    width: auto;
    height: auto;
    object-fit: contain; 
}

a{
  color: #000003;
  text-decoration: none;
}

#construction{
  color: ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: auto;
  object-fit: contain;
}